* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html, main, #registration, #login {
    height: 100%;
}

/* Resgistration */

.registration-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(to right,#3AAFA9, #2b7a78);
    border-radius: 0 7% 7% 0;
    color: #feffff;
    float: left;
}

.registration-text {
    width: 60%;
}

.registration-form-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    color: #2b7a78;
}

/* Login */

.login-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 1%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(to right, #3AAFA9, #2b7a78);
    border-radius: 7% 0 0 7%;
    color: #feffff;
    float: right;
}

.login-form-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    color: #2b7a78;
}

.login-text {
    width: 60%;
}

.login-form a {
    text-decoration: none;
    color: #2b7a78;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Both */

.registration-text p, .login-text p {
    margin-top: 2em;
    margin-bottom: 0;
}

.registration-text button, .login-text button {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-top: 3em;
    background-color: transparent;
    box-shadow: none;
    border: #feffff 3px solid;
    color: #feffff;
    font-size: 1em;
    font-weight: bold;
    font-family: 'poppins';
}

input{
    width: 400px;
    height: 40px;
    margin: 10px;
    text-indent: 10px;
    border-radius: 10px;
    background-color: #cfcfcf;
    border: none;
}

.registration-form button, .login-form button {
    margin-top: 10px;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    border: #2b7a78 3px solid;
    background-color: #2b7a78;
    color: #feffff;
    font-size: 1em;
    font-weight: bold;
    font-family: 'poppins';
    box-shadow: -2px -2px 1px rgba(207, 207, 207, 0.85);
}

.registration-form p, .login-form p {
    margin: 7px  2px;
    font-size: 14px;
}

/* Ãcones de registro */

.acess-icons {
    display: flex;
    justify-content: center;
}

.acess-icons>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: #cfcfcf 3px solid;
    border-radius: 6px;
}

.acess-icons img{
    width: 25px;
    height: 25px;
}

#registration {
    display: none;
}
